<div ng-controller="SystemManagerController" tour="TourService.getTourByName('tour')" style="overflow: hidden;">
    <div md-whiteframe style="width: 100%; position: fixed; z-index: 3; background-color: white">
      <md-input-container id="search" class="system-search">
        <label for="system-search"><i class="fa fa-search md-container-ignore"></i></label>
        <input id="system-search" type="text" class="form-control" placeholder="Search Systems..." ng-model="search.name"/>
        <a class="fa fa-times-circle" ng-show="!!search.name" ng-click="search.name = ''"></a>
      </md-input-container>
    </div>
    <div tour-step
         tour-step-belongs-to="tour"
         tour-step-content="Hover over a system to see options for starting and stopping a system. The system modes are: <br><br>Green: The system is running normally<br>Grey: The system has been killed or is offline.<br><br>When starting or stopping a system, it can take a few minutes before it's completed."
         tour-step-order="120"
         tour-step-orphan="true"></div>
    <div tour-step
         tour-step-belongs-to="tour"
         tour-step-content="From hover, the system can be started, stopped, edited, or deleted."
         tour-step-order="130"
         tour-step-orphan="true"></div>
    <div tour-step
         tour-step-belongs-to="tour"
         tour-step-content="When a system is clicked, the tuple flow can be monitored. To return to the system manager view, click on the X by the system name. Or the minus on the right hand side."
         tour-step-order="140"
         tour-step-orphan="true"></div>
    <div class="system-holder" ng-class="{'large': state === 0, 'small': state === 1}" ng-if="systems.length > 0">
        <div class="system-outer flip-container" ng-repeat="(index, system) in systems | filter: search | orderBy: orderManager" ng-class="{'inactive': state === 1 && active.name !== system.name}" ontouchstart="this.classList.toggle('hover')" >
            <div md-whiteframe class="flipper" ng-class="{forcedFlip: 'forced-flip'}" ng-show="state === 0">
                <div class="system-inner front" ng-class="{
                    'online-back': system.class === 'online',
                    'offline-back': system.class === 'offline',
                    'error-back': system.class === 'error',
                    'idle-back': system.class === 'new' || system.class === 'running' || system.class === 'killing'
                }">
                    <div class="system-title">{{system.name}}</div>
                    <div class="system-state" ng-if="system.properties.state && system.class !== 'running' && system.class !== 'killing'">{{system.properties.state.toLowerCase()}}</div>
                    <div class="system-state" ng-if="!system.properties.state && system.class !== 'running' && system.class !== 'killing'">offline</div>
                    <div class="system-state" ng-if="system.class === 'running' || system.class === 'killing'">{{system.class}}</div>
                    <div class="system-symbol">
                        <i class="fa fa-5x" ng-class="{
                        'fa-circle-o ': system.class === 'online',
                        'fa-power-off ': system.class === 'offline',
                        'fa-ban ': system.class === 'error',
                        'fa-question-circle ': system.class === 'new',
                        'fa-spinner fa-spin ': system.class === 'running' || system.class === 'killing'
                   }" ></i>
                    </div>
                </div>
                <div class="system-inner back" ng-click="setActive(system)" ng-class="{
                    'online-back': system.class === 'online',
                    'offline-back': system.class === 'offline',
                    'error-back': system.class === 'error',
                    'idle-back': system.class === 'new' || system.class === 'running' || system.class === 'killing'
                }">
                    <div class="prop-container">
                        <div class="system-back-name">
                            {{system.name}}
                        </div>
                        <div class="system-prop" ng-repeat="(prop, value) in system.properties">
                            {{prop}}: {{value}}
                        </div>

                        <div class="system-button-holder" ng-if="system.class !== 'running' && system.class !== 'killing' ">
                            <i title="Power Switch" class="system-button fa fa-power-off" ng-class="{'on-button': system.state !== 'online', 'off-button': system.state === 'online'}" ng-click="toggleSystem(system); $event.stopPropagation()"></i>&nbsp;
                            <i title="Kill System" class="system-button fa fa-times" ng-class="{'disabled-button': system.state !== 'online'}" ng-click="system.state === 'online' && killSystem(system); $event.stopPropagation()"></i>&nbsp;
                            <i title="System Builder" class="system-button fa fa-cubes" ng-class="{'disabled-button': system.state === 'online'}" ng-click="system.state !== 'online' && sendId(system.uuid); $event.stopPropagation()"></i>&nbsp;
                            <i title="Delete System" class="system-button fa fa-trash" ng-class="{'disabled-button': system.state === 'online'}" ng-click="system.state !== 'online' && deleteSystem(system); $event.stopPropagation()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div md-whiteframe ng-show="state === 1 && active.name === system.name" class="system-inner active" ng-class="{
                    'online-back': system.class === 'online',
                    'offline-back': system.class === 'offline',
                    'error-back': system.class === 'error',
                    'idle-back': system.class === 'new' || system.class === 'running' || system.class === 'killing'
                }">
                <div class="prop-container">
                    <div class="system-back-name">
                        {{system.name}}
                        <i class="system-button fa fa-times" ng-click="toggleState(); $event.stopPropagation()"></i>
                    </div>
                    <div class="system-prop" ng-repeat="(prop, value) in system.properties">
                        {{prop}}: {{value}}
                    </div>

                    <div class="system-button-holder active" ng-if="system.class !== 'running' && system.class !== 'killing' ">
                        <i title="Power Switch" class="system-button fa fa-power-off" ng-class="{'on-button': system.state !== 'online', 'off-button': system.state === 'online'}" ng-click="toggleSystem(system); $event.stopPropagation()"></i>&nbsp;
                        <i title="Kill System" class="system-button fa fa-times" ng-class="{'disabled-button': system.state !== 'online'}" ng-click="system.state === 'online' && killSystem(system); $event.stopPropagation()"></i>&nbsp;
                        <i title="System Builder" class="system-button fa fa-cubes" ng-class="{'disabled-button': system.state === 'online'}" ng-click="system.state !== 'online' && sendId(system.uuid); $event.stopPropagation()"></i>&nbsp;
                        <i title="Delete System" class="system-button fa fa-trash" ng-class="{'disabled-button': system.state === 'online'}" ng-click="system.state !== 'online' && deleteSystem(system); $event.stopPropagation()"></i>
                    </div>
                </div>
            </div>
            <div md-whiteframe ng-show="state === 1 && active.name !== system.name" ng-click="setActive(system)" class="system-inner front inactive" ng-class="{
                    'online-back': system.class === 'online',
                    'offline-back': system.class === 'offline',
                    'error-back': system.class === 'error',
                    'idle-back': system.class === 'new' || system.class === 'running' || system.class === 'killing'
                }">
                <div class="system-title">{{system.name}}</div>
                <div class="system-state-small" ng-if="system.properties.state && system.class !== 'running' && system.class !== 'killing'">{{system.properties.state.toLowerCase()}}</div>
                <div class="system-state-small" ng-if="system.class === 'running' && system.class === 'killing'">{{system.class}}</div>
                <div class="system-state-small" ng-if="!system.properties.state">offline</div>
            </div>
        </div>
    </div>
    <div class="system-holder" ng-class="{'large': state === 0, 'small': state === 1}" ng-if="down">
        <div ng-if="!displayList.length" class="alert alert-warning" style="margin-right: 20px">
            <i class="fa fa-warning"></i>
            The data service is either down or no systems are present at the time. Please refresh the page to repopulate this list or create a system in the builder.
        </div>
    </div>
    <div class="info-spacer" ng-class="{'small': state === 0, 'large': state === 1}">
        <div md-whiteframe class="info-holder" ng-if="state === 0" ng-click="toggleState()">
            <i class="fa fa-plus-circle" ng-show="state === 0"></i>
        </div>
        <div md-whiteframe class="info-holder" ng-if="state === 1">
            <i class="fa fa-minus-circle" style="float: right"  ng-click="toggleState()"></i>
            <div class="info-none-text" ng-show="state === 1 && (!active || active.class === 'offline')">
                System is offline, or isn't selected. Please switch to an online system or power on this one.
            </div>
            <div class="info-text" >
                <div ng-controller="ChartController">
                    <div class="chart-holder-left" ng-show="active.class === 'online'">
                        <canvas id="tuple-chart" class="chart chart-line" chart-data="tupleChartData"
                                chart-labels="tupleChartLabels" chart-legend="tupleChartLegend"
                                chart-options="tupleChartOptions" chart-series="tupleChartSeries"
                                chart-colors="tupleChartColors">
                        </canvas>
                    </div>
                    <div class="chart-holder-right" ng-show="active.class === 'online'">
                        <canvas id="cpu-chart" class="chart chart-pie" chart-data="cpuChartData"
                                chart-labels="cpuChartLabels" chart-options="cpuChartOptions">
                        </canvas>
                    </div>
                    <!--
                    <div ng-controller="LogController" ng-show="active.class !== 'online'">
                        <div>
                            Logs
                            <div id="log-list" class="chart-holder-left">
                                <div ng-repeat="log in logNames track by $index" ng-if="log !== undefined" ng-click="setActive(log)">
                                    {{log}}
                                </div>
                            </div>
                        </div>
                        <div>
                            Stram Logs
                            <div id="stram-log" class="chart-holder-right">
                                <div ng-repeat="(name, entry) in stramEvents track by $index" ng-if="entry !== undefined && activeLog === name" style="padding: 10px;">
                                    <textarea readonly="readonly" style="width: 100%; height: 250px; resize: both">{{entry}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
