@media all and (max-width: 816px) {
  .large-only {
    display:none;
  }
}

.footer {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: 0;
    margin-bottom: 0;
    padding: 0;
    padding-top: 2px;
    color: white;
    background-color: #850F89;
    font-size: 10px;
    font-family: 'MS Reference Sans Serif', sans-serif;
    text-align: center;
    z-index: 1000;
}

body {
    background-color: #ccc;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel-body.details-panel {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.plumb-panel {
    width: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.endpoint-TopCenter, .endpoint-BottomCenter, .endpoint-LeftMiddle, .endpoint-RightMiddle{
    display:inline-block;
}

.system-builder-nav {
    background-image: url("../img/banner-background.png");
    background-size:cover;
    border-radius: 0;
    border: 0;
    margin: 0;
    min-height: 40px !important;
    max-height: 40px;
}

.system-builder-nav .navbar-nav > li > a,
.system-builder-nav .navbar-nav > li > a:hover,
.system-builder-nav .navbar-nav > li > span,
.system-builder-nav .navbar-nav > li > span:hover,
.system-builder-nav .navbar-header > a:hover,
.system-builder-nav .navbar-header > a,{

}

.system-builder-nav .navbar-header > span,
.system-builder-nav .navbar-header > span:hover
{
    color: #ddd;
}

.system-builder-nav .navbar-inactive > span
{
    color: #777;
}

div.navbar-title {
    color: white !important;
    font-size: 15pt;
    position: relative;
    top: 6px;
    font-weight: bold;
    font-family: 'Cambria', Cambria, sans-serif;
}

js-plumb-canvas{
    background-color: #FFF;
    width: 55000px;
    height: 55000px;
    position: relative;
}

.state-window {
    /*box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;*/
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    filter:alpha(opacity=80);
    text-align:center;
    font-weight: bold;
    z-index:10;
    position:absolute;
    background-color:#eeeeef;
    color:white;
    font-family:helvetica, sans-serif;
    padding:0.5em;
    font-size:0.9em;
    width:200px;
}

.state-window.circle {
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 200px;
}

.state-window.active-state {
            /*box-shadow: none;*/
         /*-o-box-shadow: none;*/
    /*-webkit-box-shadow: none;*/
       /*-moz-box-shadow: none;*/
    /*box-shadow: 0 0 0 15px yellow;*/
    /*outline: 15px solid yellow;*/
}

.state-window h3,
.state-window h4 {
    padding: 0 8px;
}

.window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.delete:not(:hover) {
    color: rgba(0,0,0, 0.3);
}

js-plumb-object:not(:hover) i {
    visibility: hidden;
}

.panel-primary > .panel-heading {
    background-color: #201747;
    border-color: #201747;
}

.md-button.md-default-theme.md-fab, .md-button.md-fab {
    background-color: #850F89 !important;
}

.md-button.md-default-theme.md-fab:hover, .md-button.md-fab.md-focused:hover{
    background-color: #A52FA9 !important;
}

.panel-heading {
  height: 50px;
}

.panel-heading button.butn-sm {
    margin-top: 0;
    margin-right: 1px;
}
button.butn-sm.md-button[disabled] {
    color: #aaa;
}


.endpoint {
    position: absolute;
    top: 50%;
}

.endpoint-source {
    right: 0;
    cursor: pointer;
}

.endpoint-target {
    left: 0;
}

.jsplumb-endpoint {
    z-index: 11;
}

.ep-src {
    cursor: pointer;
}

.jsplumb-endpoint > svg {
  transform: scale(1.8);
}

.jsplumb-endpoint > svg > circle {
    stroke: white;
    stroke-width: 1px;
    /*transform: scale(2);*/
}

.jsplumb-endpoint:hover > svg > circle {
    fill: #dde541;
}

.ep-src > svg > circle {
    fill: #d73696;
}

.ep-target > svg > circle {
    fill: #29a4dc;
}

.operator-ribbon {
    margin: 0;
    position: fixed;
    height: 120px;
    /*overflow-y: hidden;*/
    width: 100%;
    z-index: 1;
}

.operator-ribbon .nav.nav-tabs {
    position: relative;
    left: -1px;
}

.op-search{
    height: 0;
    position: relative;
    top: -2px;
}

.op-search label{
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 11;
}

.op-search input{
    position: relative;
    bottom: -10px;
    margin-right: 15px;
    border-radius: 20px;
    padding-left: 27px;
    padding-right: 27px;
    z-index: 10;
    background-color: white;
}

.op-search a{
    text-decoration: none;
    position: absolute;
    right: 24px;
    top: 21px;
    color: #b3b3b3;
    z-index: 11;
}

.op-search a:hover{
    color: #8f8f8f;
}

.operator-list {
    width:100% !important;
    margin-bottom: 0;
    display: flex;
    padding: 3px;
    position: relative;
    left: -1px;
    background-color: white;
    border-bottom: 2px solid #4c4c4c;
    border-top: 2px solid #4c4c4c;
    min-height: 62px;
}

/*.operator-list > li:first-child i {
    color: #5cb85c;
}*/

.operator-list > li {
    display: inline-block;
    width: auto;
    position: relative;
    z-index: 99;
}

.butn.butn-operator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100px;
    padding-top: 10px;
    color: white;
    white-space: normal;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

/*.btn.btn-operator * {
  margin-top: 7px;
}*/

.butn.butn-operator:hover {
    background-color: #e6e6e6;
}

.butn.butn-operator[disabled] {
    border-color: #ddd;
}

.butn-add-operator {
    opacity: 0.5;
}

.panel-primary {
  margin: 20px;
  /*overflow: hidden;*/
  height: calc(100% - 40px);
}

.panel-warning {
  margin: 0;
  border: 0;
}

.operator-details {
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  height: calc(100% + 10px);
}

.panel-heading {
    position: relative;
    z-index: 10;
}

#zoom-slider {
    position: relative;
    z-index: 10;
    margin: 0;
    width: 20px;
    height: calc(100% - 50px);
    left: -40px;
    top: 50px;
}
#zoom-slider > span {
    margin: 0 5px;
}

#zoom-slider > span:focus {
    outline: none;
}

#zoom-slider > rzslider {
    margin-top: 15px;
    width: 80%;
}

#zoom-slider > rzslider .rz-pointer {
    height: 16px;
    width: 16px;
    top: -7px;
}

#zoom-slider > rzslider .rz-pointer::after {
    height: 4px;
    width: 4px;
    top: 6px;
    left: 6px;
}

#zoom-slider > rzslider .rz-pointer:focus {
    outline: none;
}

#system-builder-body {
  margin-top: 120px;
  position: fixed;
  height: calc(100% - 182px);
  width: 100%;
  z-index: 0;
}

.system-builder-canvas {
    overflow: hidden;
    padding: 0;
    height: 100%;
}

.nav-tabs.de-tabs {
    margin-left: 12px;
}

.nav-tabs.de-tabs > li > a {
    padding: 10px;
    display: inline-block;
    color: #000000;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    height: 0;
    line-height: 52px;
}

.nav-tabs.de-tabs > li > a:hover {
    border-bottom-color: #a4a4a4;
    border-right: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;

    color: white;
    background-color: transparent;
}

.nav-tabs.de-tabs > li.active > a {
    color: white;
    border-bottom: 30px solid #4c4c4c;
    background-color: inherit;
}

.operator-list > .alert {
    margin-top: 20px;
}

.operator-label {
  line-height: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.has-error {
    border: 1px solid red;
}

.has-error:focus {
    outline: none;
    box-shadow: 0 0 5px red;
    border: 1px solid red;
}

.no-error {
    border: 1px solid green;
}

.no-error:focus {
    outline: none;
    box-shadow: 0 0 5px green;
    border: 1px solid green;
}

.string-list-change {
    font-size: 8pt;
    float: right;
}

.fileHolder {
    color: white;
    height: initial;
}

.filePlaceHolder {
    position: relative;
    left: 108px;
    top: 29px;
    z-index: 10;
    border: 0;
    color: black;
    background-color: white;
}

.navbar-sub {
    padding-left: 10px;
}

.navbar-brand:focus {
    color: #ddd !important;
    height: 38px !important;
    padding: 9px 15px !important;
}

.navbar-brand{
    height: 29px;
    padding: 5px 15px;
    font-size: 13pt;
}
.navbar-header.navbar-sub.md-button {
    min-height: 0;
}

.disabled-button, .disabled-button:hover, .disabled-button:active {
    color: #AAA !important;
}

.error-holder {
    overflow-y: scroll;
    background-color: white;
    border: 1px black solid;
    position: absolute;
    bottom: 27px;
    right: 28px;
    z-index: 90;
    width: 300px;
    height: 30%;
    color: red;
    padding: 5px;
}

.error-inner {
    padding: 2px 0 5px 0;
}

.error-close {
    position: absolute;
    bottom: calc(30% + 30px);
    right: 30px;
    z-index: 99;
    color: black;
}

.md-button.md-fab.error-button {
    z-index: 90;
    display: inline;
}

.md-button.md-fab.error-button.errors {
    background-color: red !important;
}

.canvas-blocker {
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    top: -93%;
    background-color: white;
    z-index: 0;
}

.butn-save {
    font-size: 9pt;
}

.butn-operator {
    font-size: 12px;
}

.resize-spinner {
    font-size: 4.5em !important;
}

#mainBusIconOnBanner {
    background-color: #201747;
    border-color: #201747;
}
